<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component
      id="PcMilerDistanceCalculator"
      type="AirNet.Services.PcMilerDistanceCalculator, AirNet.Services"
      service="AirNet.CostingEngine.Core.IDistanceCalculator, AirNet.CostingEngine.Core" />
  </components>
</configuration>