<?xml version="1.0"?>
<configuration>
	<configSections>
		<section 
        name="monorail" 
        type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework"/>
    <section
      name="activerecord"
      type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />

  </configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">

		</compilation>
		<authentication mode="Windows"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework"/>
		</httpHandlers>
		<httpModules>
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework"/>
		</httpModules>
	</system.web>
	<monorail>
		<controllers>
			<assembly>Factile.Web</assembly>
		</controllers>
		<viewEngines viewPathRoot="Views">
			<add type="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity"/>
		</viewEngines>
	</monorail>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Boo.Lang" publicKeyToken="32C39770E9A21A67" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Boo.Lang.Parser" publicKeyToken="32C39770E9A21A67" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Boo.Lang.Compiler" publicKeyToken="32C39770E9A21A67" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NVelocity" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  

  <activerecord isWeb="false">

    <config>
      <add
          key="hibernate.connection.driver_class"
          value="NHibernate.Driver.SqlClientDriver" />
      <add
          key="hibernate.dialect"
          value="NHibernate.Dialect.MsSql2000Dialect" />
      <add
          key="hibernate.connection.provider"
          value="NHibernate.Connection.DriverConnectionProvider" />
      <add
          key="hibernate.connection.connection_string"
          value="Data Source=localhost;Initial Catalog=Factile;User ID=dev;Password=dev;" />
    </config>

  </activerecord>
</configuration>
